.searchblock {
  background: url("https://source.unsplash.com/random/700x700/?technology");
  background-size: cover;
  padding: 100px 50px; }
  .searchblock .searchblockInner {
    text-align: center; }
    .searchblock .searchblockInner h1 {
      color: #fff; }
    .searchblock .searchblockInner h4 {
      color: #fff; }
    .searchblock .searchblockInner .searchdiv {
      width: 100%;
      display: inline-block;
      float: left;
      padding-top: 65px;
      text-align: center; }
      .searchblock .searchblockInner .searchdiv .searchcenter {
        width: 80%;
        float: left;
        text-align: center; }
        .searchblock .searchblockInner .searchdiv .searchcenter .searchcenterinput1 {
          width: 100%;
          height: 56px;
          line-height: 56px;
          background: #f3f3f3;
          padding-left: 25px;
          color: #2d4a4a;
          padding-right: 25px;
          font-size: 19px;
          font-weight: 300; }
      .searchblock .searchblockInner .searchdiv .searchright {
        width: 18%;
        float: left;
        text-align: center; }
        .searchblock .searchblockInner .searchdiv .searchright a {
          width: 100%;
          display: inline-block;
          background: #000;
          height: 56px;
          line-height: 56px;
          font-size: 16px;
          color: #f3f3f3;
          font-weight: 300;
          padding-right: 10px;
          padding-left: 10px; }
          .searchblock .searchblockInner .searchdiv .searchright a i {
            font-size: 23px;
            margin-right: 5px;
            position: relative;
            top: 0; }

.populerterms .pcountries fieldset {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
  text-align: center; }
  .populerterms .pcountries fieldset a {
    color: #a00a0e;
    font-weight: bold; }
  .populerterms .pcountries fieldset legend {
    margin: 0 auto;
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none; }

.instabox .card {
  margin-bottom: 20px;
  overflow: hidden; }
  .instabox .card .card-header {
    overflow: hidden; }
    .instabox .card .card-header .proimage img {
      width: 70px;
      border-radius: 70px; }
  .instabox .card .midImage {
    max-height: 330px;
    min-width: auto;
    min-height: 330px; }
  .instabox .card img {
    transition: transform .2s;
    width: 100%;
    height: auto; }
  .instabox .card img:hover {
    transform: scale(1.1); }
  .instabox .card .card-body .icons .heart {
    float: left;
    color: #ff5496; }
  .instabox .card .card-body .icons .comments {
    float: right;
    color: #48a5e1; }
